/***************************************************/
/* General Styles */
/***************************************************/

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #990001; /* Rojo oscuro */
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top:60px;
  }
  





  .btn-cotizar {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /***************************************************/
  /* Botones Generales */
  /***************************************************/
  
  .btn-ver-mas,
  .btn-plan {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #990001;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn-ver-mas:hover,
  .btn-plan:hover {
    background-color: #ff5733;
  }
  
  /***************************************************/
  /* Sección Nosotros */
  /***************************************************/
  
  .nosotros-section {
    background: #fff;
    color: #900c3f;
    padding: 4rem 0;
  }
  
  .nosotros-section p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
  }
  
  .nosotros-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .image-container {
    flex: 1;
    max-width: 40%;
  }
  
  .nosotros-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .card-title {
    flex: 2;
    margin-left: 2rem;
  }
  
  .card-title h3 {
    font-size: 1.5rem;
    color: #ff5733;
    margin-top: 20px;
  }
  
  .card-title p {
    text-align: justify;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .card-title ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card-title ul li {
    margin-bottom: 10px;
  }
  
  /***************************************************/
  /* Sección Galería */
  /***************************************************/
  
  .galeria {
    background-color: #f8f5f2;
    padding: 50px 20px;
    text-align: center;
  }
  
  .galeria h2 {
    font-size: 2rem;
    color: #900c3f;
    margin-bottom: 20px;
  }
  
  .grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .galeria-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .galeria-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /***************************************************/
  /* Estilos para Alternar Secciones */
  /***************************************************/
  
  section:nth-child(even) {
    background-color: #ffffff;
  }
  
  section:nth-child(odd) {
    background-color: #f2f2f2;
  }

  



















  /* Responsividad */
  @media (max-width: 768px) {

  .container{
    max-width: 80%;
   padding: 10px;
    margin: auto;
  }
  .nosotros-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-container {
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .card-title {
    padding: 1rem;
  }

  .card-title h3 {
    font-size: 1.3rem;
  }

  .card-title p {
    font-size: 1rem;
  }
}
